.todo-app {

    &__item {
        margin: 0.5rem 0;
        background-color: #b8e4f1;
        border-radius: 0.25rem;
        padding: 0.5rem 0.75rem;
        user-select: none;
        font-size: 1.1rem;
        display: flex;
        align-items: center;

        &-checkbox {
            margin-right: 0.5rem;
            cursor: pointer;
            background-color: #eee;
            outline: none;
        }
        &-text {
            flex-grow: 1;
            padding: 0.25rem
        }
        &-edit {
            margin: 0 0.5rem;
            cursor: pointer;
            transition: 0.2s ease;

            &:hover  {
                color:lightslategrey;
            }   
        }
        &-remove  {
            margin: 0 0.5rem;
            cursor: pointer;
            transition: 0.2s ease;
            &:hover  {
                color:lightslategrey;
            }   
        }
        &-completed {
            text-decoration: line-through;
            color:lightslategrey;
        }

        &-change__input {
            width: 100%;
            font-size: 1.1rem;
            padding: 0.25rem;
            border-radius: 0.25rem;
            background-color: #fff;
            border: none;

            &:focus {
                border: none;
                outline: none;
            }
        }
    }
    
}
