.todo-app {
    &__list {
        list-style-type: none;
        width: 80%;
        max-height: 60vh;
        overflow-y: scroll;
        margin-bottom: 1.5rem;
        padding-right: 0.5rem;

        &::-webkit-scrollbar
        {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background-color: #ccf2f3;
            border: solid 3px transparent;
        }
        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;    
            border: solid 6px transparent;
            background-color: #b8e4f1;
        }
    }
}
